<div class="container center">
  <div class="row">
    <div class="col-12">
      <div style="margin:20px;">
        <table class="table table-bordered ">
          <th>순서</th>
          <th>제목</th>
          <th>내용</th>
          <th>작성자</th>
          <th>작성일</th>
          <th>수정자</th>
          <th>수정일</th>
          <tr *ngFor="let notice of notices">
            <td>{{notice.noticeNo}}</td>
            <td>{{notice.noticeTitle}}</td>
            <td>{{notice.noticeContent}}</td>
            <td>{{notice.regId}}</td>
            <td>{{notice.regDt}}</td>
            <td>{{notice.chgId}}</td>
            <td>{{notice.chgDt}}</td>
          </tr>
        </table>
        <ngb-pagination [collectionSize]="pageSize" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
      </div>

      <div class="col-12">
        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">제목</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">설명</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">저장</button>
          <button type="submit" class="btn btn-primary">수정</button>
        </form>
      </div>
    </div>
  </div>
</div>