<div class="container center">
  <div class="row">
    <div class="col-12">
      <div style="margin:20px;">
        <table class="table table-bordered ">
          <th>순서</th>
          <th>제목</th>
          <th>내용</th>
          <th>작성자</th>
          <th>작성일</th>
          <th>수정자</th>
          <th>수정일</th>
          <tr *ngFor="let notice of notices" (click)="onClickRow(notice, idx)" [class.active]="notice == selectedNotice">
            <td>{{notice.noticeNo}}</td>
            <td>{{notice.noticeTitle}}</td>
            <td>{{notice.noticeContent}}</td>
            <td>{{notice.regId}}</td>
            <td>{{notice.regDt}}</td>
            <td>{{notice.chgId}}</td>
            <td>{{notice.chgDt}}</td>
          </tr>
        </table>
        <ngb-pagination (pageChange)="onPageChange($event)" [collectionSize]="pageSize" [(page)]="page" [maxSize]="5" [rotate]="true"></ngb-pagination>
      </div>

      <div class="col-12">
        <div class="mb-3">
          <label for="title" class="form-label">제목</label>
          <input type="text" class="form-control" [(ngModel)]="selectedNotice && selectedNotice.noticeTitle" id="noticeTitle">
        </div>
        <div class="mb-3">
          <label for="content" class="form-label">내용</label>
          <textarea class="form-control" id="noticeContent" [(ngModel)]="selectedNotice && selectedNotice.noticeContent" rows="10"></textarea>
        </div>
        <button type="button" class="btn btn-primary" (click)="save()">저장</button>
      </div>
    </div>
  </div>
</div>